<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>
<p>
<% if @user.ratings %>
Has made <%=  pluralize(@user.ratings.count, 'rating') %>, average  rating <%= @user.average_rating %> 

<h2>Ratings</h2>
<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= rating.beer.name %> <%= rating.score %>
    <% if @user == current_user %>
     <%= link_to 'delete', rating_path(rating.id), method: :delete %>
    <% end %>
      </li>
    <% end %>
</ul>

<p>Favorite beer: <%= @user.favorite_beer %></p>
<p>Favorite beer style: <%= @user.favorite_style %></p>
<p>Favorite brewery: <%= @user.favorite_brewery %> </p>
<% else %>
No ratings yet
<% end %>
</p>



<h2>Proud member of the following beer clubs:</h2>
<ul>
  <% @user.beer_clubs.each do |club| %>
  <li><%= club.name %></li>
  <% end %>

</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> | 
  <%= link_to 'Destroy account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', users_path %>
