

<h1><%= @user.username %><% if @user.closed%>
<span class="badge badge-info">account closed</span>
<% end %></h1>
<p>
<% if current_user && current_user.admin %>

  <% if @user.closed %>
    <%= link_to 'open account', toggle_activity_user_path(@user.id), method: :post , class: "btn btn-primary btn-sm" %>
  <% else %>
    <%= link_to 'close account', toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger btn-sm"  %>
  <% end %>

<% end %> 
<% if @user.ratings %>
Has made <%=  pluralize(@user.ratings.count, 'rating') %>, average  rating <%= round @user.average_rating %> 

<h2>Ratings</h2>
<ul class="list-group list-group-flush">
  <% @user.ratings.each do |rating| %>
    <li class="list-group-item"><%= rating.beer.name %> <%= rating.score %>
    <% if @user == current_user %>
     <%= link_to 'delete', rating_path(rating.id), method: :delete, class: "btn btn-danger btn-sm"   %>
    <% end %>
      </li>
    <% end %>
</ul>

<p>Favorite beer: <%= @user.favorite_beer %></p>
<p>Favorite beer style: <%= @user.favorite_style.name if @user.favorite_style %></p>
<p>Favorite brewery: <%= @user.favorite_brewery %> </p>
<% else %>
No ratings yet
<% end %>
</p>



<h2>Proud member of the following beer clubs:</h2>
<ul class="list-group list-group-flush">
  <% @user.beer_clubs.each do |club| %>
  <li class="list-group-item"><%= club.name %></li>
  <% end %>

</ul>

<%= edit_and_destroy_buttons @user %>
<%= link_to 'Back', users_path, class: "btn btn-primary"   %>
