<h1>List of ratings</h1>

<div class="row">
    <div class="col-sm-3 mx-sm-1">
        <h2>Best beers</h2>
        <%= render 'shared/rating_table', things: Beer.top(3) %>
    </div>

    <div class="col-sm-4 mx-sm-1">
        <h2>Best breweries</h2>
        <%= render 'shared/rating_table', things: Brewery.top(3) %>
    </div>

    <div class="col-sm-3 mx-sm-1">
        <h2>Best styles</h2>
        <%= render 'shared/rating_table', things: Style.top(3) %>
    </div>

</div>

<div class="row">
<h2>Most active users</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <td></td>
            <td><strong>ratings</strong></td>
        </tr>
    </thead>
    <tbody>
        <% User.top_number_of_ratings(3).each do |u| %>
        <tr>
            <td><%= link_to "#{u.username}", u %></td>
            <td><%= u.ratings.count %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>

<h2>recent ratings</h2>
<div class="row">
    <ul>
        <% Rating.recent.each do |r| %>
        <li><%= r %> by <%= link_to "#{r.user.username}", r.user %> at <%= r.updated_at %></li>
        <% end %>
    </ul>
</div>

<% if not current_user.nil? %>
<%= link_to 'Add a new rating', new_rating_path, class: "btn btn-primary"   %>
<% end %>