

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
  <% if not @brewery.active  %>
    <span class="badge badge-info">retired</span>
  <% end %>
</p>

<p>
  <em>Established in <%= @brewery.year %></em>
</p>

<p>
  Oluita:
  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to "#{beer.name}", beer_path(beer), class: "btn btn-primary"  %>
  <% end %>
<p>

<% if not @brewery.ratings.empty? %>
<p>
  Has  <%= pluralize(@brewery.ratings.count, 'rating')%>, average <%= @brewery.average_rating %>
</p>
<% end %>
<%= link_to('Edit', edit_brewery_path(@brewery), class: "btn btn-primary") if current_user %> |
<%= link_to 'Back', breweries_path, class: "btn btn-primary" %>
