

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= link_to "#{@beer.style.name}", style_path(@beer.style) %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery_id %>
</p>

<% if @beer.ratings.empty? %>
<p> 
  Beer has not been rated yet!
</p>
<% else %>
<p>
  Has  <%= pluralize(@beer.ratings.count, 'review')%>, average <%= @beer.average %>
</p>
<% end %>

<% if current_user %>
  <h4>Give a rating:</h4>
    <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    score: <%= f.number_field :score %> 
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <%= link_to 'Edit', edit_beer_path(@beer), class: "btn btn-primary" %> |
<% end %>
<%= link_to 'Back', beers_path, class: "btn btn-primary" %>
