<h1>Beer places search</h1>




<%= form_tag places_path do %>
    <div class="form-row my-sm-2">

        <label for="city" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-8">
            <%= text_field_tag :city, params[:city], class:"form-control" %>
        </div>


        <div class="col-sm-2">
            <%= submit_tag "Search", class:"btn btn-primary" %>
        </div>
    </div>

<% end %>


<% if @weather_information %>
    <h2>The current beer weather in <%= @weather_information["city"] %>: </h2>
    <p><%= @weather_information["temperature"] %> Celsius</p>
    <%= image_tag(@weather_information["icon_url"]) %>
    <p><strong>wind</strong> <%= @weather_information["wind_speed"] %> m/sec, direction <%= @weather_information["wind_direction"] %> </p>

<% end %>

<% if @places %>
<table class="table table-hover">
    <thead>
        <% Place.rendered_fields.each do |field| %>
            <th><%= field %></th>
        <% end %>
    </thead>
    <% @places.each do |place| %>
        <tr>
            <% Place.rendered_fields.each do |field| %>
                <td>
                <% if field == :name %>
                    <%= link_to place.name, place_path(place.id)  %>
                <% else %>
                    <%= place.send(field) %>
                <% end %>

                </td>
            <% end %>
        </tr>
    <% end %>

</table>

<% end %>